body {
  background: rgb(250, 250, 250);
  margin: 2% 8%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.covidImage {
  width: 34%;
}

@media (max-width: 1024px) {
  .covidImage {
    width: 100%;
    margin: 4% 1% 0;
  }
  .container {
    margin-bottom: 6%;
  }
}

@media (min-width: 1920px) {
  .covidImage {
    width: 30%;
  }
}
